@use "./variables-and-functions" as v;
header {
    min-height: 10vh;
    background-color: v.$Rose_Gold;
    display: flex;
    justify-content: center;
    align-items: center;

}

header > h1 {
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.50));
}

nav {
    background-color: v.$Soft_Gold;
    min-height: 10vh;

}


.products-container .single-product {
    margin-bottom: 26px;
}

.products-container .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    /* makes the animation to sta inside the div */
    overflow: hidden;
}

.products-container .single-product .part-1::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 1.3s;
}

.products-container .single-product:hover .part-1::before {
		transform: scale(1.2,1.2) rotate(5deg);
}

.products-container #product-1 .part-1::before {
    background: url("../pictures/kajak-1.jpg") no-repeat center;
    background-size: cover;
		// transition: all 0.3s;
    z-index: 1;
}

.products-container #product-2 .part-1::before {
    background: url("../pictures/kajak-2.jpg") no-repeat center;
    background-size: cover;
    z-index: 1;
}

.products-container #product-3 .part-1::before {
    background: url("../pictures/kajak-3.jpg") no-repeat center;
    background-size: cover;
    z-index: 1;
}

.products-container #product-4 .part-1::before {
    background: url("../pictures/kajak-4.jpg") no-repeat center;
    background-size: cover;
    z-index: 1;
}

/* Set the size to better fit the card */
.products-container .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

.products-container .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.products-container .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
    z-index: 2;
}

.products-footer {
    background-color: black;
    min-height: 10vh;
    color: white;
    text-align: center;
}


